/* Contenedor*/

.presentacion__contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


/* Redes*/
.redes{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    
}

.redes__img{
    display: flex;
    gap: 60px;
}

/* Sobre mi*/

.sobre-mi{
    display: flex;
    justify-content: center;
}

/*Habilidades*/

.habilidades__lista{
    display: flex;
    flex-direction: row;
    gap:40%;
}