

.formacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.proyectos__contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacto__formulario{
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px){
    .redes{
        display: flex;
        flex-direction: row;
        align-self: center;
    }
}